<div class="card">
  <span class="block text-900 font-bold text-xl mb-4">Crear publicacion</span>
  <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
    <div class="col-8">
      <div class="flex p-2">
        <div class="h-24rem mx-3 relative">
          <img [src]="image" class=" h-full border-round img">
          <span class="z-5 surface-card text-900 shadow-2 px-3 py-2 absolute date-span">{{book.first_publish_date}}</span>
        </div>
        <div class="grid formgrid">
        <div class="col-12 field">
  <input [(ngModel)]="book.title"  [disabled]="book.title" pInputText type="text" placeholder="Product Name" label="Product Name">
</div>
<div class="col-12 lg:col-4 field">
<label for="trade">Precio</label>

<p-inputNumber [(ngModel)]="formSell.price" mode="currency" currency="CLP" [min]="0" [allowEmpty]="false" currencyDisplay="code"
  locale="en-IN" />
</div>
<div class="col-12 lg:col-4 field">
<label for="trade">ID</label>

  <input [(ngModel)]="book.key" [disabled]="book.title" pInputText type="text" placeholder="Product Code" label="Product Code">
</div>
<div class="col-12 lg:col-4 field">
<label for="trade">Lugar</label>

  <input pInputText type="text" placeholder="Localizacion" label="SKU">
</div>

<div class="col-1 field flex gap-5">
<label for="trade">Intercambiar/Vender</label>
<p-inputSwitch inputId="trade" />
</div>
        </div>

      </div>
      <div class="col-12 field">
        <p-editor [style]="{'height':'250px'}"></p-editor>
      </div>
    </div>

    <div class="flex-1 w-full lg:w-3 xl:w-4 flex flex-column row-gap-3">
      <div class="border-1 surface-border border-round">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Publish</span>
        <div class="p-3">
          <div class="bg-gray-100 py-2 px-3 flex align-items-center border-round">
            <span class="text-black-alpha-90 font-bold mr-3">Status:</span>
            <span class="text-black-alpha-60 font-semibold"></span>
            <button pButton pRipple type="button" icon="pi pi-fw pi-pencil"
              class="p-button-rounded p-button-text text-black-alpha-60 ml-auto"></button>
          </div>
        </div>
      </div>

      <div class="border-1 surface-border border-round">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Tags</span>
        <div class="p-3 flex flex-wrap gap-1">
          <p-chip
            styleClass="mr-2 py-2 px-3 text-900 font-bold surface-card border-1 surface-border"
            [style]="{'border-radius':'20px'}">
            <span class="mr-3">{{'s'}}</span>
            <span
              class="chip-remove-icon flex align-items-center justify-content-center border-1 surface-border bg-gray-100 border-circle cursor-pointer"
              >
              <i class="pi pi-fw pi-times text-black-alpha-60"></i>
            </span>
          </p-chip>
        </div>
      </div>

      <div class="border-1 surface-border border-round">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Category</span>
        <div class="p-3">
          <p-dropdown [options]="categoryOptions"
            placeholder="Select a category"></p-dropdown>
        </div>
      </div>

      <div class="border-1 surface-border border-round">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Colors</span>
        <div class="p-3 flex">

        </div>
      </div>

      <div class="border-1 surface-border border-round">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Stock</span>
        <div class="p-3">
          <p-dropdown [options]="categoryOptions"  placeholder="Select stock"></p-dropdown>
        </div>
      </div>



      <div class="flex flex-column sm:flex-row justify-content-between align-items-center gap-3 py-2">
        <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Discard"
          icon="pi pi-fw pi-trash"></button>
        <button pButton pRipple class="p-button-primary flex-1 border-round" label="Save"
          icon="pi pi-fw pi-check"></button>
      </div>
    </div>
  </div>
</div>
